@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1199px;
  padding: 0 20px;
  margin: 0 auto;
}

.Entry {
  width: 100%;

  input {
    background: rgba(#fff, 0.1);
    transition: all 0.5s;
    &::placeholder {
      color: white;
    }
    &:focus {
      background: white !important;
    }
  }
  .MuiFormControl-root {
    padding: 2.9rem 0 0 0;
  }
  .MuiFormHelperText-root.Mui-error {
    font-size: 1.2rem;
  }
  .MuiFormLabel-root {
    &.MuiInputLabel-shrink {
      display: none;
    }
  }

  .MuiOutlinedInput-root {
    border-radius: 0.36rem;
  }

  .MuiOutlinedInput-input {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.5px;
    font-style: normal;
    padding: 19px;
  }

  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
    border-width: 1px;
  }
  .MuiOutlinedInput-root.Mui-error.Mui-focused
    .MuiOutlinedInput-notchedOutline {
    border-color: red;
    border-width: 1px;
  }

  .MuiOutlinedInput-notchedOutline {
    top: 0;
    border-color: #d4d9e2;
    transition: all 0.3s ease;
    legend {
      display: none;
    }
  }

  .MuiOutlinedInput-multiline {
    padding: 0;
  }
}
